@keyframes incomingcards {
  0% {top: -200px;}
  100% {top: 0px;}
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(201, 188, 10);
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.con {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background: hsla(0, 0%, 0%, 0.555);
  border: black 1px solid;
  padding: 5px;
  max-width: 400px;
  font-weight: bold;
}

#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#newcard-btn {
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 10%;
  font-weight: bold;
  background: rgb(201, 188, 10);
}

#newcard-btn:hover {
  background-color: rgb(180, 169, 9);
  cursor: pointer;
}

.card {
  width: 100px;
  height: 200px;
  margin: 3px;
  padding: 0;
  position: relative;
  animation: incomingcards 1s ease 1;
}

.card-img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}